#comm-work {

    text-align: center;
    padding-left: 25px;
    padding-right: 25px;

    p {

        text-align: left;
    }
}

#lyac-pic {

    min-width: 220px;
    min-height: 160px;
    display:inline-block;
    background-color: $text-color; 
    border: 1px white solid;
}

#projects-support {

    text-align: center;
}

.lyac-box {

    width: 85px;
    height: 85px;
    background-color: $text-color;
    display: inline-block;
}

// Research and Evaluation Section Styles

#research-sect {

    background-color: $second-bckgrnd;

    h2 {

        padding-top: 20px;
    }
}
.comm-box {

    background-color: $text-color;
    min-width: 320px;
    min-height: 175px;
}

.comm-pic-sect {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

// Presentation and Workshops Section

#prezi-sect {



    h2 {

        padding-top: 20px;
        margin-top: 0px;
    }

    .org-logo {

        min-width: 140px;
        min-height: 50px;
        background-color: white;
        border: 1px solid black;
    }

    .comm-box {

        padding: 5%;

        p {

            margin-left: 15px;
        }
    }

    .comm-box:nth-child(1) {

        background-color: $second-bckgrnd;
    }

    .comm-box:nth-child(2) {

        background-color: $bckgrnd-color;
    }
}


// Media Queries for Community Work Section

@media screen and (min-width: 600px) {

    #comm-work {

        display: flex;
    }

    #lyac-pic {

        margin-right: 15px;
    }
}

@media screen and (min-width: 1024px) {

    #comm-main {

        display: flex;
    }

    .lyac-box {

        display: block;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom:10px;
    }

    #projects-support {

        margin-right: 5%;
        border-left: 1px solid $text-color;
        padding-left:30px;
        margin-bottom:20px;
    }


}

// Media Queries for Prezi Section 

@media screen and (min-width: 600px) {

    #prezi-sect {

        h2 {

            background-color: $second-bckgrnd;
            padding-bottom: 20px;
        }

        .comm-box:nth-child(1) {

            background-color: $bckgrnd-color;
        }
    }

}