$bckgrnd-color: #DDF9FA; 
$second-bckgrnd: #B7E1EA;
$accent-color: #EB3E4A;
$text-color: #536060;
$main-font: 'Lato', sans-serif;
$accent-font: 'Berkshire Swash', cursive;
$mfont-size: 0.875em;
$dfont-size: 1em;
$mfont-title: 1.75em;
$dfont-title: 2em;


